In [33]:
from surprise import SVD
from surprise import Dataset
from surprise import Reader, evaluate, print_perf
from surprise import NormalPredictor
from surprise.model_selection import cross_validate
from surprise import dataset

In [42]:
from __future__ import (absolute_import, division, print_function,
                        unicode_literals)
import pandas as pd

In [43]:
df = pd.read_csv("/Users/shreyasurana/Desktop/Datasets/rating_final.csv")

In [44]:
df.head(5)

      id  userID  placeID  rating  food_rating  service_rating
0  U1077    1077   135085       2            2               2
1  U1077    1077   135038       2            2               1
2  U1077    1077   132825       2            2               2
3  U1077    1077   135060       1            2               2
4  U1068    1068   135104       1            1               2

In [45]:
df['rating'].max()

2

In [46]:
df['rating'].min()

0

In [47]:
reader = Reader(line_format='user item rating', rating_scale=(0, 3))

In [48]:
class MyDataset(dataset.DatasetAutoFolds):

    def __init__(self, df, reader):

        self.raw_ratings = [(uid, iid, r, None) for (uid, iid, r) in
                            zip(df['userID'], df['placeID'],df['rating'])]
        self.reader=reader

In [49]:
mydf = MyDataset(df, reader)

In [50]:
mydf.split(n_folds=4)
a = SVD()
p = evaluate(a, mydf, measures=['RMSE', 'MAE'])

/Users/shreyasurana/anaconda3/lib/python3.6/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/shreyasurana/anaconda3/lib/python3.6/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.7211
MAE:  0.6110
------------
Fold 2
RMSE: 0.7067
MAE:  0.5861
------------
Fold 3
RMSE: 0.6907
MAE:  0.5743
------------
Fold 4
RMSE: 0.7183
MAE:  0.6120
------------
------------
Mean RMSE: 0.7092
Mean MAE : 0.5958
------------
------------

In [51]:
print_perf(p)

        Fold 1  Fold 2  Fold 3  Fold 4  Mean
RMSE    0.7211  0.7067  0.6907  0.7183  0.7092
MAE     0.6110  0.5861  0.5743  0.6120  0.5958

In [52]:
t = mydf.build_full_trainset()
a.train(t)

/Users/shreyasurana/anaconda3/lib/python3.6/site-packages/surprise/prediction_algorithms/algo_base.py:51: UserWarning: train() is deprecated. Use fit() instead
  warnings.warn('train() is deprecated. Use fit() instead', UserWarning)

In [53]:
userID = str(1077)
placeID = str(132825)
rating = 2
print(a.predict(userID, placeID, rating))

user: 1077       item: 132825     r_ui = 2.00   est = 0.20   {'was_impossible': False}